/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	left: 0;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;

}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	color: black;
	text-decoration: none;
}

nav li a:hover,
#logout:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* filtres */

.filtre-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 50px;
	gap: 10px;

}

.filtre-link {
	text-decoration: none;
	padding: 10px;
	border: 2px solid rgba(29, 97, 84, 1);
	border-radius: 60px;
	background: white;
	color: rgba(29, 97, 84, 1);
}

.selected {
	background: rgba(29, 97, 84, 1);
	color: white;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 507px;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/* .../création du login */

label#mdpo {
	display: flex;
	text-decoration: underline;
	justify-content: center;
	margin-top: -10px;
	margin-bottom: 200px;
}

#error{
	color: red;
}

/* création du bandeau  */
.edit-mode{
		width: 100vw;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		height: 59px;
		gap: 10px;
		display: flex;
		color: white;
		background-color: black;
		justify-content: center;
		align-items: center;
}
/* création du bouton modifier */
#edit-button {
	display: flex;
	align-items: baseline;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
}

a {
	color: black;
	text-decoration: initial;
}

#edit-button i {
	font-size: 14px;
	margin-left: 15px;
}

/* création de la modale 1*/


.modal-container {
	background-color: white;
	position: absolute;
	left: 50%;
	width: 50%;
	border-radius: 10px;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modal {
	background: rgba(0, 0, 0, 0.5);
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}

.hidden {
	display: none !important;
}

.title-modal1 {
	color: black;
	font-size: 26px;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

i.modal-icon.fa-solid.fa-xmark {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	margin-bottom: 70px;
	margin-top: -50px;
}

input#modal1-btn {
	height: 36px;
	font-size: 15px;
	width: 237px;
	margin-top: -15px;
	color: WHITE;
	border-radius: 20px;
	border: none;
	background-color: #1D6154;
}

.title-portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#modal-project-gallery img {
	width: 76px;
	height: 102px;
}

.work-container {
	position: relative;
}

.work-container i {
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	font-size: 8px;
	justify-content: center;
	align-items: center;
	display: flex;
	border-radius: 2px;
	height: 15px;
	width: 15px;
	background-color: black;
}

div#modal-project-gallery.gallery {
	GAP: 15px;
    display: flex;
    flex-wrap: wrap;
	width: 80%;
	margin-left: 15%;
}

.line1 {
	width: 85%;
	border: 1px solid rgba(179, 179, 179, 1);
	margin: 40px;
}

.line-btn {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 130px;
	margin: 25px;
}

/* création de la modale 2 */

i.fa-solid.fa-arrow-left {
	margin-top: -100px;
	margin-left: 20px;
}

.rectangle-container {
	display: flex;
	justify-content: center;
}

.rectangle {
	width: 80%;
	height: 150px;
	background: rgba(232, 241, 246, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
}


i.fa-regular.fa-image {
	font-size: 70px;
	color: rgba(185, 197, 204, 1);
	margin-top: 20px;
}

label.button {
	font-weight: 500;
	background: rgba(203, 214, 220, 1);
	width: 160px;
	height: 35px;
	text-align: center;
	border-radius: 60px;
	color: rgba(48, 102, 133, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

p.text-modal2 {
	margin-bottom: 15px;
	font-size: x-small;
}

#title-rectangle {
	width: 78%;
	height: 40px;
}

.container-title-rectangle {
	display: flex;
	width: 80%;
	margin: auto;
	justify-content: center;
	flex-direction: column;
}

h3 {
	
	margin-top: 10px;
	font-weight: 500;
}

textarea#title-rectangle {
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

select#title-rectangle {
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

input#modal2-btn {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background: rgba(167, 167, 167, 1);
	width: 237px;
	text-align: center;
	border-radius: 60px;
	height: 36px;
	border: none;
	margin-bottom: 20px;
	margin: auto;
}

input.active {
	background: #1D6154 !important;
}

div.modal2-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title-modal1 {
	margin-bottom: -20px !important;
}

input#title-rectangle {
	width: 100%;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

select#categoriesSelect {
	width: 100%;
	height: 40px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.line-btn2 {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20px;
}

.rectangle .container-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: flex;
	justify-content: center;
}

.subtitle {
	
	margin-bottom: 10px;
}

.line2 {
	width: 60%;
	border: 1px solid rgba(179, 179, 179, 1);
	margin: 20px;
}

#modal-add-icon{
	margin-top: -30px;
}







